.c-section {
    --_bg: transparent;
    --_container-bg: var(--primary-100);
    --_container-color: var(--primary-800);
    --_container-bar-gradient-1: var(--primary-300);
    --_container-bar-gradient-2: var(--primary-600);
    --_container-bar-gradient-3: var(--primary-800);
    --_container-radius-sm: 16px;

    margin-block: var(--block-pad-y);
    padding-inline: var(--gutter);
    background-color: var(--_bg);
}


.c-section__container {
    position: relative;
    margin-inline: auto;
    padding: min(6vw, 56px);
    max-width: 44em;
    background-color: var(--_container-bg);
    color: var(--_container-color);
    border-radius: 0 0 52px var(--_container-radius-sm);
    container-type: inline-size;

    &::before {
        content: '';
        background-image:
            linear-gradient(to right,
                var(--_container-bar-gradient-1) 0%,
                var(--_container-bar-gradient-2) 50%,
                var(--_container-bar-gradient-3) 100%);
        height: var(--_container-radius-sm);
        left: 0px;
        right: 0px;
        bottom: 100%;
        position: absolute;
        border-radius: var(--_container-radius-sm) var(--_container-radius-sm) 0 0;
    }
}


.c-section__header {
    display: grid;
    grid-template-columns: 2.25em 1fr;
    gap: 0.75em;
    align-items: center;
    font-size: clamp(16px, 4cqi, 20px);
    margin-bottom: 1lh;
}


.c-section__icon {
    --_url: url('/assets/mission.svg');

    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: var(--_url);
    mask-image: var(--_url);
    background-color: var(--primary-500);
    width: 100%;
    aspect-ratio: 1;

    &[data-icon="services"] {
        --_url: url('/assets/services.svg');
    }

    &[data-icon="contact"] {
        --_url: url('/assets/contact.svg');
    }
}


.c-section__title {}


.c-section__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1lh;
    text-wrap: pretty;
    font-size: clamp(16px, 4cqi, 18px);
}